.N1notification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 80%;
  height: 20em;
  background: #29292c;
  border-radius: 1rem;
  overflow: hidden;
  font-family: "Passion One", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #0096ff);
  --color: #32a6ff;
}

.N1notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2;
}

.N1notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.N1notification:hover:after {
  transform: translateX(0.15rem);
}

.N1notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.N1notification:hover .N1notititle {
  transform: translateX(0.15rem);
}

.N1notibody {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.N1notification:hover .N1notibody {
  transform: translateX(0.25rem);
}

.N1notiglow,
.N1notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle closest-side at center,
    white,
    transparent
  );
  opacity: 0;
  transition: opacity 300ms ease;
}

.N1notiglow {
  z-index: 3;
}

.N1notiborderglow {
  z-index: 1;
}

.N1notification:hover .N1notiglow {
  opacity: 0.1;
}

.N1notification:hover .N1notiborderglow {
  opacity: 0.1;
}

.N1note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}

.Right {
  flex: 0.4;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.Cbtncards {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Passion One";
  background-color: #0096ff;
  transition: all 0.2s ease;
}

.Cbtncards:active {
  transform: scale(0.96);
}

.Cbtncards:before,
.Cbtncards:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.Cbtncards:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #0096ff 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #0096ff 20%, transparent 30%),
    radial-gradient(circle, #0096ff 20%, transparent 20%),
    radial-gradient(circle, #0096ff 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #0096ff 15%, transparent 20%),
    radial-gradient(circle, #0096ff 20%, transparent 20%),
    radial-gradient(circle, #0096ff 20%, transparent 20%),
    radial-gradient(circle, #0096ff 20%, transparent 20%),
    radial-gradient(circle, #0096ff 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.Cbtncards:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #0096ff 20%, transparent 20%),
    radial-gradient(circle, #0096ff 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #0096ff 15%, transparent 20%),
    radial-gradient(circle, #0096ff 20%, transparent 20%),
    radial-gradient(circle, #0096ff 20%, transparent 20%),
    radial-gradient(circle, #0096ff 20%, transparent 20%),
    radial-gradient(circle, #0096ff 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
